<!DOCTYPE html>

<html>
<head>
  <%- include('./template/head.ejs') %> 
  <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
</head>

<body>
  <%- include('./template/header.ejs') %> 
  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="../postUpdate/<%- post.id %>" method="POST">
          <div class="edit-post__title">
            發表文章：
          </div>
          <div class="edit-post__input-wrapper">
            <input name="title" class="edit-post__input" value=<%- post.title %> />
          </div>
          <div class="edit-post__input-wrapper">
            <textarea id="editor" name="content" rows="20" class="edit-post__content"><%- post.content %></textarea>
          </div>
          <div class="edit-post__btn-wrapper">
              <input type="submit" class="edit-post__btn" value="送出"/>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>